**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.venv
**/__pycache__
**/*.py[cod]
**/*.egg-info
**/venv
**/.pytest_cache
**/.mypy_cache
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
